#quickRecordInformationMenu{
    position : fixed;
    width: 98%;
    height: 0;
    z-index: 1000;
    display: compact;
}
#quickRecordInformation {
    float:right;
    height: 48px;
    width: 48px;
    background-position: 0 0px;
    opacity: 0.5;
    z-index: inhrit;
}

#quickRecordInformation:hover {
    opacity: 1.0;
}